{% extends 'admin_app/base.html' %}

{% block content %}
  <h1>Фільтрація книг</h1>
  <!-- Додайте форму або фільтраційні параметри тут -->
  <!-- Відображення відфільтрованих книг -->
  <ul>
    {% for book in filtered_books %}
      <li>
        {{ book.title }} - {{ book.author }}
        <form method="post" action="{% url 'add_to_cart' book.id %}">
          {% csrf_token %}
          <input type="submit" value="Додати до кошика">
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
